@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <ul class="navbar-nav ">
        <li class="nav-item">
            <a id="manage" class="nav-link text-light" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
        </li>
    </ul>
    <form method="post" class="form-inline">
        <button type="submit" class="btn btn-link nav-link"><a href="/Identity/Account/Logout">Logout</a></button>
    </form>
}
else
{
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link text-light" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
        <li>
            <a class="nav-link text-light" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
    </ul>
}